$main: #323264;
$main-alt: #46466E;
$main-soft: #323264;
$white: #ffffff;
$black: #000000;
$x-mark: #EC6F5D;
$accent: #F0145A;
$active: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$grey-background: #F5F5FA;
$grey-background-at: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
