.header {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "top top"
        "logo menu";

    &__top {
        grid-area: top;
        background: rgba(245, 245, 250, 0.2);
        margin: 0 -15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-languages {
            padding: 10px 15px;

            a {
                display: inline-block;
                padding: 5px 7px;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 1px;
                color: #fff;
                margin-right: -3px;
                transition-duration: 200ms;
                transition-property: background-color, border-radius;
            }

            a:not(.header__top-languages-active):hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
            }

            &--on-white {
                a:not(.header__top-languages-active) {
                    color: $grey-text;
                }

                & a:not(.header__top-languages-active):hover {
                    background-color: rgba(179, 179, 186, 0.2);
                    border-radius: 8px;
                }
            }



            &-active {
                padding: 5px 7px;
                background: $accent;
                border-radius: 8px;
                color: $white;
            }
        }
    }

    &__logo-container {
        grid-area: logo;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        &-logo {
            display: block;
            background-image: url(../img/logo-white.svg);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 70px;
            height: 33px;
            margin-top: 15px;
            margin-bottom: 15px;

            &--on-white {
                background-image: url(../img/logo.svg);
            }
        }

        &-curent-page {
            font-size: 20px;
            line-height: 24px;
            color: $white;
            margin-left: 29px;
            align-self: flex-start;
            position: absolute;
            left: 60px;
            top: 15px;

            &--on-white {
                color: $main;
            }
        }

        &-curent-page::before {
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            display: inline-flex;
            background-image: url(../img/slash.svg);
            height: 26px;
            width: 11px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        grid-area: menu;

        &-button {
            background-color: transparent;
            border: 0;
            padding: 5px 7px;
            cursor: pointer;

            &-bar1,
            &-bar2,
            &-bar3 {
                width: 18px;
                height: 2px;
                background-color: $white;
                margin: 4px 0;
            }

            &--active {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;

            }

            &--on-white {

                &-bar1,
                &-bar2,
                &-bar3 {
                    background-color: $main;
                }
            }
        }

        &-list {
            display: none;
            padding-inline-start: 0;

            li {
                list-style: none;
                padding: 0;
                margin-right: 15px;
                position: relative;
            }

            &-item:not(.header__menu-list--active):hover::after {
                content: '';
                width: 100%;
                height: 2px;
                background: $white;
                position: absolute;
                bottom: -7px;
                left: 0;
            }

            &-item {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $white;

                &--on-white {
                    color: $active;
                }

                &--on-white:not(.header__menu-list--active):hover::after {
                    background: $active;
                }
            }

            &--active {
                color: $accent;
            }

            &--active::after {
                content: '';
                width: 100%;
                height: 2px;
                background: $accent;
                position: absolute;
                bottom: -7px;
                left: 0;
            }
        }

        &-mobile-list {
            transform: scale(0);
            position: fixed;
            top: 100px;
            left: 800px;
            width: calc(100% - 8px);
            padding: 50px 12px 12px 12px;
            background-color: $white;
            border-radius: 12px 0 0 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            list-style: none;
            transition: 300ms;
            transition-property: left, transform;
            z-index: 3;


            &-item {
                display: block;
                width: 100%;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                padding: 7px 0;
                color: $active;
                background-color: $grey-background;
                border-radius: 12px;

                &--active {
                    color: $accent;
                }
            }

            &-item:active {
                background-color: $grey-separator;
            }

            &--active {
                left: 8px;
                transform: scale(1);
            }
        }
    }
}

.phone--header {
    margin-right: 15px;

    & a {
        color: $white;
    }

    &--on-white a {
        color: $grey-text;
    }
}

.phone--header::before {
    content: none;
}

.phone--header::after {
    content: none;
}

.address--header {

    &--on-white {
        color: $grey-text;
    }

    display: none;
}

.address--header::before {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $grey-text;
    position: absolute;
    left: -12px;
    top: 7px;
}

.facebook--header {
    display: none;
    margin-left: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .address--header {
        color: $grey-text;
    }
}

@media (min-width: 768px) {

    .phone--header {
        margin-right: 0;
    }

    .phone--header::before {
        content: '';
    }

    .phone--header::after {
        content: '';
    }

    .address--header {
        display: inline-flex;
    }

    .facebook--header {
        display: block;
        position: relative;
    }

    .header {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "top""logo""menu";
        padding: 0 30px;

        &__top {
            background: none;
            margin: 0;
            justify-content: flex-start;

            &-languages {
                padding-left: 0;
            }
        }

        &__logo-container {
            &-logo {
                width: 130px;
                height: 60px;
            }

            &-curent-page {
                font-size: 36px;
                line-height: 44px;
                margin-left: 29px;
                left: 130px;
                top: 16px;

                &--on-white {
                    color: $main;
                }
            }

            &-curent-page::before {
                left: -26px;
                height: 47px;
                width: 21px;
            }
        }

        &__menu {
            &-button {
                display: none;
            }

            &-list {
                display: flex;
            }

            &-mobile-list {
                display: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "logo top"
            "logo menu";

        &__top {
            justify-content: flex-end;
        }

        &__menu {
            justify-content: flex-end;

            &-list li {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }


}
